
@import 'nib'

$gray = #404042
$gold = #FFBB3E
// #E5B45A

@font-face
	font-family 'Moon'
	src url('Moon Light.otf')
@font-face
	font-family 'Moon'
	font-weight bold
	src url('Moon Bold.otf')

body
	height 1200px

.navbar-dark
	padding 20px 0px
	background-color $gray
	border-bottom 5px solid $gold
.main-logo
	height 70px
	
.navbar-gold
	background-color $gold
	transform rotate(25deg)
	width 50%
	position absolute
	top 100px
	left -100px
.text
	position relative
	top 240px
	h1
		color $gold
		font-family 'Moon', sans-serif
		font-weight bold
		font-size 100px
		letter-spacing 10px
		margin-bottom 0px
	font-family 'Moon', sans-serif
	font-weight bold
	font-size 27px
	color $gray
	text-align center
.image
	height 100%
	width 100%
	background-size cover
	position absolute
	top 0px
	left 0px
.image-1:before
	height 100%
	width 100%
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	-webkit-filter blur(10px)
	background-image url('/images/notes.jpg')
.image-2
	top 100%
	background-image url('/images/code.jpg')
.image-3
	top 200%
	background-image url('/images/whiteboard.jpg')
.image-4
	top 300%
	background-image url('/images/cafe.jpg')

::selection
	color white
	background-color $gold
	
