doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title 2914
	link(rel="stylesheet", href="//getbootstrap.com/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="/styles/main.css")
body

	.navbar.navbar-fixed-top.navbar-dark
		.container
			center
				img.main-logo(src="/images/logo.png", alt="")
	//- .navbar.navbar-static-top.navbar-gold
	
	.image.image-1
		.text
			h1 welcome
			span What can we help you with?
	.image.image-2
	.image.image-3
	.image.image-4